name: Markdown Lint

permissions:
    contents: read
    pull-requests: write
on:
    push:
        branches:
            - master
            - develop
            - release/*
    pull_request:
    merge_group:
    workflow_dispatch:
jobs:
    lint:
        runs-on: ubuntu-latest
        steps:
            - name: Set up Git repository
              uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
            - name: Lint
              uses: DavidAnson/markdownlint-cli2-action@07035fd053f7be764496c0f8d8f9f41f98305101 # v22.0.0
              with:
                  globs: |
                      README.md,
                      CONTRIBUTING.md,
                      CONTRIBUTORS.md,
                      docs/**/*.md
                      docs/decisions/0000-use-markdown-architectural-decision-records.md
                      docs/decisions/adr-template-minimal.md
                      docs/decisions/adr-template.md
                      docs/decisions/README.md
    changelog:
        name: CHANGELOG.md
        runs-on: ubuntu-latest
        steps:
            - name: Checkout source
              uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
            - name: Lint CHANGELOG.md
              run: |
                  # Install jbang
                  curl -Ls https://raw.githubusercontent.com/jbangdev/jbang/4bcb11945c968cdcb9b1f8a75f246dbc4d00633b/src/main/scripts/jbang | bash -s - app setup
                  export PATH=$PATH:$HOME/.jbang/bin

                  # run heylogs verification
                  jbang com.github.nbbrd.heylogs:heylogs-cli:0.9.2:bin check CHANGELOG.md > heylogs.txt || true

                  # improve output
                  # sed -i 's/all-h2-contain-a-version/all-h2-contain-a-version (ignored)/' heylogs.txt

                  cat heylogs.txt

                  # exit 1 in case of error
                  grep -q "No problem" heylogs.txt || exit 1
